body {
    font-family: 'DM Sans', sans-serif;
    background-color: #121212;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

h1, h2 {
    letter-spacing: -0.04em;
}

h2 {
    line-height: 1.125;
    font-weight: 500;
    font-size: 48px;
}

p {
    line-height: 1.25;
    letter-spacing: -0.02em;
}

.container {
    /*max-width: 1112px;*/
    /*padding: 0 16px;*/
    max-width: 1110px;
    padding: 0 15px;
    margin: 0 auto;
}

.text-accent {
    color: #BEA69E;
}

.logo {

}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}