body{
    font-family: 'DM Sans', sans-serif;
    background-color: #121212;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

h1, h2 {
    letter-spacing: -0.04em;
}

h2 {
    line-height: 1.125;
}

p {
    line-height: 1.25;
    letter-spacing: -0.02em;
}

.container {
    max-width: 1112px;
    padding: 0 16px;
    margin: 0 auto;
}

.text-accent{
    color: #BEA69E;
}

.logo{

}