.footer {
    padding: 40px 0 20px;
    border-top: #414141 solid 1px;
    background-image: url('../public/svg/line_y.svg'), url('../public/svg/line_x.svg');
    background-repeat: repeat-y, repeat-x;
    background-size: 1500px 185px, 100px 1000px;
    background-position: center 15px, center top;
}

.footer-container {
    display: flex;
    flex-direction: column;
}

.footer-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    justify-content: space-between;
    margin-bottom: 40px;
}

.footer-logo-wrapper {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    transition: color 200ms cubic-bezier(0.33, 1, 0.68, 1);
}

.footer-logo > .logo {
    width: 127px;
    height: 20px;
}

.footer-logo:hover, .footer-logo:focus {
    color: #bea69e;
}

.footer-links {
    display: flex;
    gap: 40px;
}

.footer-address {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    line-height: 1.285;
}

.footer-address-item, .footer-socials-item, .footer-nav-item, .footer-legals {
    transition: color 200ms cubic-bezier(0.33, 1, 0.68, 1);
}

.footer-address-item:hover, .footer-address-item:focus,
.footer-socials-item:hover, .footer-socials-item:focus,
.footer-nav-item:hover, .footer-nav-item:focus,
.footer-legals:hover, .footer-legals:focus {
    color: #bea69e;
}

.footer-socials {
    display: flex;
    flex-direction: column;
    gap: 14px;
    font-size: 14px;
    text-transform: uppercase;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 14px;
    font-size: 14px;
    text-transform: uppercase;
}

.footer-form {
    display: flex;
    gap: 8px;
    margin-top: 75px;
}

.footer-form-input {
    border-radius: 12px;
    padding: 20px 18px;
    width: 100%;
    height: 60px;
    font-size: 16px;
    line-height: 1.25;
    color: #121212;
    transition: box-shadow 200ms cubic-bezier(0.33, 1, 0.68, 1);
}

.footer-form-input:focus {
    outline: 2px solid transparent;
    box-shadow: 0 0 0 2px #121212, 0 0 0 4px #bea69e;
}

.footer-form-btn {
    border-radius: 12px;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    align-items: center;
    background-color: #1d1d1d;
    font-size: 20px;
    line-height: 1.2;
    transition: background-color 200ms cubic-bezier(0.33, 1, 0.68, 1);
}

.footer-form-btn:hover, .footer-form-btn:focus {
    background-color: #bea69e;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
}

.footer-legals {
    width: 171px;
    font-size: 12px;
    line-height: 1.33;
}

.footer-copy {
    width: 116px;
    font-size: 12px;
    line-height: 1.33;
}

@media (min-width: 767px) {
    .footer {
        padding: 50px 0 25px;
        background-size: 1500px 178px, 150px 1000px;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
    }

    .footer-content {
        display: grid;
        grid-template-columns: repeat(3, max-content);
        gap: 50px;
        justify-content: space-between;
        margin-bottom: 74px;
    }

    .footer-logo {
        margin-bottom: 25px;
    }

    .footer-logo > .logo {
        width: 123px;
        height: 16px;
    }

    .footer-links {
        display: flex;
        gap: 25px;
    }

    .footer-address {
        max-width: 152px;
    }

    .footer-form {
        margin-top: 0;
    }

    .footer-form-input {
        max-width: 178px;
    }

    .footer-legals {
        font-size: 14px;
        line-height: 1.285;
    }

    .footer-copy {
        width: 134px;
        font-size: 14px;
        line-height: 1.285;
    }
}

@media (min-width: 1280px) {
    .footer {
        background-size: 1500px 178px, 255px 1000px;
    }

    .footer-content {
        margin-bottom: 50px;
    }

    .footer-links {
        gap: 50px;
    }

    .footer-address {
        max-width: none;
    }

    .footer-socials {
        gap: 20px;
    }

    .footer-nav {
        gap: 20px;
    }

    .footer-form {
        gap: 16px;
    }

    .footer-form-input {
        max-width: 216px;
    }
}

@media (min-width: 1440px) {
    .footer {
        background-size: 100% 185px, 255px 1000px;
    }
}