.header {
    position: sticky;
    padding: 20px 0;
    top: 0;
    z-index: 10;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-content {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    padding: 0 50px;
    gap: 28px;
    background-color: rgba(18, 18, 18, 0.8);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
}

.header-logo {
    padding: 21px 0;
    flex-shrink: 0;
    color: #ffffff;
    transition: color 200ms cubic-bezier(0.33, 1, 0.68, 1);
}

.header-logo:focus, .header-logo:hover {
    color: #bea69e;
}

.header-nav {

}

.header-menu {
    display: flex;
    gap: 28px;
}

.menu-item {

}

.menu-link {
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    padding: 21px 0;
    transition: color 200ms cubic-bezier(0.33, 1, 0.68, 1);
}

.menu-link:hover, .menu-link:focus {
    color: #bea69e;
}

.header-btn {
    color: #121212;
    background-color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.55;
    text-transform: uppercase;
    border-radius: 14px;
    width: 100%;
    max-width: 240px;
    min-width: 105px;
    padding: 16px;
    transition: background-color 200ms cubic-bezier(0.33, 1, 0.68, 1);
}

.header-btn:hover, .header-btn:focus {
    background-color: #bea69e;
}

@media (min-width: 767px) {

}

@media (min-width: 1280px) {

}

@media (min-width: 1440px) {

}