.hero {
    margin: 50px 0 150px;
}

.hero-card {
    display: flex;
    justify-content: space-between;
    background-color: #1d1d1d;
    border-radius: 30px;
    overflow: hidden;
    flex-wrap: wrap;
}

.hero-content {
    display: flex;
    flex-direction: column;
    padding: 80px 20px 50px 50px;
}

.hero-title {
    max-width: 563px;
    font-weight: 500;
    font-size: 64px;
    line-height: 1.0625;
    margin-bottom: 20px;
}

.hero-title span {
    font-style: italic;
    font-weight: 400;
}

.hero-desc {
    font-size: 14px;
    max-width: 418px;
    line-height: 1.285;
    margin-bottom: 136px;
}

.hero-responds {
    display: flex;
    gap: 40px;
}

.hero-responds-students {
    display: flex;
    align-items: center;
    gap: 12px;
}

.students-list {
    display: flex;
}

.students-item {
    position: relative;
}

.students-item:not(:last-child) {
    margin-right: -13px;
}

.students-item:nth-child(1) {
    z-index: 3;
}

.students-item:nth-child(2) {
    z-index: 2;
}

.students-item:nth-child(3) {
    z-index: 1;
}

.students-link {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 82px;
}

.students-icon {
}

.responds-box {
    display: flex;
    gap: 12px;
}

.responds-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #121212;
    background-color: #bea69e;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.responds-stats {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.responds-title {
    line-height: 1.25;
    letter-spacing: -0.04em;
    color: rgba(255, 255, 255, 0.5);
}

.responds-count {
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.04em;
}

.hero-image-wrapper {
    display: flex;
    align-self: flex-end;
    flex-shrink: 0;
    margin-right: 50px;
}

.hero-img {
    object-fit: cover;
}